<!doctype html>
<html>
  <head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>
  <head>
    <title>Contwidgetor</title>
  </head>
  <body>
    <div id="react-container">
      <%- contributionsGrid %>
    </div>
    <script src="public/bundle.js"></script>
  </body>
</html>
